<%= form_with model:@work do |f|  %>
<div>
  <%= f.label :category %>
  <%=f.select :category,Work.all.map{|work|[work.category]}.uniq %>
</div>
<div>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div>
  <%= f.label :creator %>
  <%= f.text_field :creator %>
</div>
<div>
  <%= f.label :publication_year %>
  <%= f.text_field :publication_year %>
</div>
<div>
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>
<%= f.submit "#{action_name} Work" %>
<% end  %>