<h1>works index page</h1>

<h2>list of works</h2>

<% @category.each do | category| %>
  <table>
  <h3><%= category %></h3>
  <tr>
    <th>Votes</th>
    <th>Title</th>
    <th>Created By</th>
    <th>Published</th>
    <th>Upvote</th>
  </tr>
  <% @works[category].each do |work| %>
    <tr>
      <td>Votes</td>
      <td><%= link_to work.title, work_path(work.id) %></td>
      <td><%= work.creator %></td>
      <td><%= work.publication_year %></td>
      <td><%= link_to "Upvote", work_upvote_path(work.id), method: :post %></td>
    </tr>
  <% end %>
  </table>
<% end  %>