<main>
 <h2>List of Works</h2>
<% @category.each do | category| %>
<section class="media-table">
 <h4><%= category.capitalize %></h4>
   <table class="table">
 <thead>
  <tr>
    <th width=80>Votes</th>
    <th>Title</th>
    <th>Created By</th>
    <th width=100>Published</th>
    <th width=100>Upvote</th>
  </tr>
  </thead>
  <tbody>
    <% @works[category].each do |work| %>
      <tr>
        <td><%= work.votes.count %></td>
        <td><%= link_to work.title, work_path(work.id) %></td>
        <td><%= work.creator %></td>
        <td><%= work.publication_year %></td>
        <td><%= link_to "Upvote", work_upvote_path(work.id), method: :post ,class:"btn btn-primary"%></td>
      </tr>
    <% end %>
  </tbody>
  
  </table>
  </section>
<% end  %>

</main>
