<h1>Work show page</h1>

<section>
<%= link_to "Back to media ranks", root_path %>
<%= link_to "Edit", edit_work_path(@work.id) %>
<%= link_to "Upvote", work_upvote_path(@work.id), method: :post  %>
<%= link_to "Delete", work_path(@work.id) ,method: :delete, data: { confirm: "Are you sure you want to delete this work?"} %>

</section>

<%= @work.title %>
<%= @work.category %>