
<h2><%= @work.title %></h2>
<h4>Created by: <%= @work.creator %></h4>
<h4>Published: <%= @work.publication_year %></h4>
<h4><%= @work.description %></h4>

<section>
<%= link_to "Back to media ranks", root_path %>
<%= link_to "Edit", edit_work_path(@work.id) %>
<%= link_to "Upvote", work_upvote_path(@work.id), method: :post  %>
<%= link_to "Delete", work_path(@work.id) ,method: :delete, data: { confirm: "Are you sure you want to delete this work?"} %>
</section>



<table>
  <h3><%= @work.votes.count %> Votes for this <%= @work.category %> </h3>
  <tr>
    <th>User</th>
    <th>Date</th>
  </tr>
  <% @work.votes.each do |vote|  %>
    <tr>
      <td><%= link_to vote.user.username, user_path(vote.user_id) %></td>
      <td><%= vote.created_at.strftime('%B %d,%Y') %></td>
    </tr>
  <% end  %>
</table>