<h1>Users Summary: <%= @user.username %></h1>

<table>
  <tr>
    <th>Media Title</th>
    <th>Created By</th>
    <th>Published</th>
    <th>Category</th>
    <th>Voted on</th>
  </tr>
<%@user.votes.each do |vote| %>
  <tr>
    <td><%= link_to vote.work.title, work_path(vote.work.id) %></td>
    <td><%= vote.work.creator %></td>
    <td><%= vote.work.publication_year %></td>
    <td><%= vote.work.category %></td>
    <td><%= vote.created_at.strftime('%B %d, %Y') %></td>
  </tr>
<% end  %>

</table>

<%= link_to "See all Users", users_path %>
<%= link_to "Back to Media List", root_path %>