<main>


  <section class="spotlight">
    <h2 class="spotlight__header">  
      <span class="spotlight__header--prefix">Media Spotlight</span> 
      <%= link_to Work.top_work.title ,work_path(Work.top_work.id), class:"spotlight__link-to"  %> by 
      <%= Work.top_work.creator %>
    </h2>
    <p class="spotlight__description">
      <%= Work.top_work.votes.count %> votes - <%= Work.top_work.description %>
    </p>
  </section>

  <hr class="root__hr" />
  <section class="top-ten__container">
    
      <% @category.each do |category| %>
        <section class="top-ten__list-container">

        <h2 class="top-ten__header">Top <%= category  %> </h2>
        
      <% Work.top_10(category).each do |work| %>
      <ul class="list-group top-ten__list">
        <li class="list-group-item"> 
        <h4>
          <%=link_to work.title, work_path(work.id) %> 
          <small class="top-ten__creator">by <%= work.creator %></small>
        </h4>
        <p><%= work.votes.count %> votes</p>
        </li>
      </ul>

      <% end %>


    </section>
  <% end  %>

  </section>
</main>